<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title>Weather Trip</title>
    </head>

    <body>

        <header>
            <div class="">
                <h1>Weather Trip</h1>
                <div id="intro">Get the weather info for your next trip. Please introduce your destination and date of arrival.</div>
            </div>
            <button id="print" href="#" type="submit" name="" value="submit">PDF</button>
        </header>

        <main>
            <section>
                <form id="form">
                    <label for="country">Trip destination:</label>
                    <input type="text" id="city" required name="country name" placeholder="Which city are you going to?">
                
                    <label for="date">Trip start date:</label>
                    <input type="date" id="date" required name="date" placeholder="When are you leaving?">
                    
                    <button id="generate" href="#" type="submit" name="" value="submit">Submit</button>
                </form>
            </section>

            <section>
                <span>Chances of needing an umbrella...</span>
                <button id="clear" href="#" type="submit" name="" value="submit">Clear data</button>
                    <div id="pic"></div>
                    <div>
                        <div id="weather"></div>
                        <div id="error"></div>
                    </div>                    
                </div>
            </section>
        </main>

        <footer>
            <p>Nihillux 2022 &copy</p>
        </footer>
        <script>
            // Check that service workers are supported
            if ('serviceWorker' in navigator) {
                // Use the window load event to keep the page load performant
                window.addEventListener('load', () => {
                    navigator.serviceWorker.register('/service-worker.js');
                });
            }
           </script>
    </body>
</html>
