footer{
    text-align: center;
    color: #333333;
    border-radius: 5px 5px 0px 0px;
    margin-top: auto;
    padding-top: 25px;
    bottom: 0;
    width: 100%;
}

@media(max-width: 768px) {
    footer{
        font-size: 12px;
    }
}

@media(max-width: 420px) {
    footer{
        font-size: 10px;
    }
}