form {
    border-radius: 3px;
    padding: 40px;
}

input {
    padding: 5px 20px;
    width: 100%;
    min-height: 50px;
    line-height: 16px;
    margin: 10px 0;
}

div {
    padding-bottom: 10px;
}

span{
    font-weight: 900;
    padding-bottom: 15px;
}

#clear{
    height: fit-content;
    width: fit-content;
    padding: 5px 10px;
    margin: 15px;
    position: absolute;
    top: 0px;
    right: 0px;
    font-weight: 1500;
}

#clear:hover {
    background-color: #333333;
    color: white;
    cursor: pointer;
}

#generate{
    padding: 10px 20px;
    margin-top: 15px;
}

#generate:hover {
    background-color: #333333;
    color: white;
    cursor: pointer;
}

@media only screen and (max-width: 500px) {
    span{
        font-size: 12px;
        font-weight: 800;
    }
}