header {
    justify-content: space-between;
    padding: 10px 40px;
    display: flex;
    justify-content: center;
    overflow: hidden;
    flex-direction: row;
    margin: 15px auto;
    width: 80%;
}

@media only screen and (max-width: 500px) {
    section {
        width: 100%;
    }
}

#print{
    height: fit-content;
    width: fit-content;
    padding: 10px 20px;
    margin: 150px 0 0 0;
}

#print:hover {
    background-color: #333333;
    color: white;
    cursor: pointer;
}

#intro{
    width: 80%;
}